<!DOCTYPE html>
<html>
	<head>
		<title>Posts</title>
	</head>
	<body>
	<h1>Create A New Post</h1>
		<form method = "POST" action = "/posts">
			<p>
			<label>Title</label>
			<input type = "text" id="title" name = "title" value = ""/>
		</p>
		<p>
			<label>Author</label>
			<input type = "text" id="author"  name = "author" value = ""/>
		</p>
		<p>
			<label>Category</label>
			<input type = "text" id="category"  name = "category" value = ""/>
		</p>
		<p>
			<label>Image</label>
			<input type = "text" id="image"  name = "image" value = ""/>
		</p>
		<p>
			<label>Date</label>
			<input type = "date" id="date" name = "date" value = ""/>
		</p>
		<p>
			<label>Content</label>
			<input type = "text" id="content"  name = "content" value = ""/>
		</p>
		<button>Create Post</button>
		</form>
	</body>
</html>
