<!DOCTYPE html>
<html>

<head>
  <title>Post</title>
</head>

<body>
  <div class="list-group">
  <% if (posts.length>0){ %>
      <% for (var i in posts) { %>
          <a href = "/posts/<%= posts[i].title %>"><%= posts[i].title %></a>
        <% } %>
    <% } %>
      <p> <a href="posts/new">Create New Post</a></p>
    </div>
</body>

</html>
